*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



body {
 background-color: white;
 color: orangered;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 line-height: 20px; 
}
